@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: 164, 80%, 38%;
  --foreground: #171717;
}

.dark {
  --background: 164, 74%, 27%;
  --foreground: #f3f4f6;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body{
  @apply bg-blend-soft-light;
}
